 <template name="credential_Section">
	<div class="">
		<h4 class="text-center" id="loginModalLabel">Sign In/Login</h4>
	</div>
		<div class="container jumbotron">
			<div class="text-center">
				<div role="tabpanel" class="login-tab">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a id="signin-taba" data-target="#login" data-toggle="tab">Sign In</a></li>
						<li role="presentation"><a id="forgetpass-taba" data-target="#forget_password" data-toggle="tab">Forgot Password</a></li>
					</ul>
				
					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active text-center" id="login">
							{{> login}}
						</div>
						<div role="tabpanel" class="tab-pane text-center" id="forget_password">
							{{> password_recovery}}							
						</div>
					</div>
				</div>
					
			</div>
		</div>
 </template>

<!--Login -->
	<template name="login">
			<div>
				&nbsp;&nbsp;
				<span id="login_fail" class="response_error" style="display: none;">Loggin failed, please try again.</span>
				<div class="clearfix"></div>
				<form id="loginForm">
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><i class="fa fa-at"></i></div>
							<input type="text" class="form-control required email" name="email" id="remail" placeholder="Email">
						</div>
						<span class="help-block has-error" data-error='0' id="remail-error"></span>
					</div>
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><i class="fa fa-lock"></i></div>
							<input type="password" class="form-control required" name="password" id="password" placeholder="Password">
						</div>
						<span class="help-block has-error" id="password-error"></span>
					</div>
					<button type="sumbit" id="login_btn" class="btn btn-block bt-login" data-loading-text="Signing In....">Login</button>
					<div class="clearfix"></div>
				</form>
			</div>
	</template>
 <!-- Login End -->
 
 
	<template name="registration">
				<span id="registration_fail" class="response_error" style="display: none;">Registration failed, please try again.</span>
				<div class="clearfix"></div>
				<form id="registration_form">
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon"><i class="fa fa-at"></i></div>
							<input type="text" class="form-control" id="remail" name="email" placeholder="Email">
						</div>
						<span class="help-block has-error" data-error='0' id="remail-error"></span>
					</div>
					<div class="form-group">
						<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-lock"></i></div>
								<input type="password" class="form-control" id="password" placeholder="Password">
							</div>
					</div>
					<button type="submit" id="register_btn" class="btn btn-block bt-login" data-loading-text="Registering....">Register</button>
					<div class="clearfix"></div>
					<div class="login-modal-footer">
					</div>
				</form>
	</template>
 <!-- /Registration Template -->
 
 <template name="password_recovery">
	<span id="reset_fail" class="response_error" style="display: none;">Recovery Failed, check entered email</span>
					<div class="clearfix"></div>
					<form id="password_recovery_form">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-user"></i></div>
								<input type="text" class="form-control required email" id="femail" name="email" placeholder="Email">
							</div>
							<span class="help-block has-error" data-error='0' id="femail-error"></span>
						</div>
						
						<button type="submit" id="reset_btn" class="btn btn-block bt-login" data-loading-text="Please wait....">Recover Password</button>
						<div class="clearfix"></div>
					</form>
 </template>
 