
<head>
  <title>simple</title>
</head>

<body style="background-image:url('projectsmain.jpg');">
 
</body>
 <template name="ApplicationLayout">
 

<div id="site-wrapper" >
   <div id="site-canvas">	
	<div id="site-menu">
      {{>left_navbar }}
     </div>
	<div class="">
		{{> branding_nav}}
		<div>
				{{> yield "main"}}
		</div>
	</div>    
  </div>
</div>
 
 </template> 
 <template name="left_navbar">
   <a href="#" class="js-toggle-leftnav" style="color: pink; font-size: 20px;"><i class="fa fa-times"></i></a>
       <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">	  
			<span style="display:inline"><h3>Aparto</h3></span>
			<a href="/" class="js-toggle-leftnav">Project Details</a>

			{{# if currentUser}}
			<a href="/projectStatus" class="js-toggle-leftnav">Overall Status</a>
			<a href="/myApartment">My Project</a>
			<a href="/payment">Account Statement</a>
			<a href="#">Documents</a>
			<a href="#">Service Requests</a>
			<a href="#">Refer a friend</a>			
			<a href="#">My Profile</a>		
			<a href="/admin">Admin</a>	
			<a href="#" class="js-signout">Signout</a>
			{{/if}}		
		</nav>
 </template>
 <template name="branding">
	<div>
		 <button class="toggle-nav btn btn-lg btn-success js-toggle-leftnav" ><i class="fa fa-bars"></i></button>
	</div>
 </template>
 <template name="branding_nav">
	<div class="row" style="background:#47a3da">
			<div class="col-md-2">
				{{>branding}}
			</div>			
			<div class="col-md-9">
				<h4 style="align:center"> Pushpam Group</h4>
			</div>	
				<div class="col-md-1" style="float:right">
					{{# unless currentUser}}
					<a href="/login" class="btn btn-warning btn-lg" style="vertical-align:middle">Login</a>
					{{/unless}}
				</div>			
		</div>
 </template>

 
 <!-- Main content -->
 <!-- Home Page, project info -->
 <template name="home">
 <div>
	<div style=";color:white">
		<div class="" >
		  <h1>Pushpam Group</h1> 
		  <p>Pushpam Group is a multinational organization dealing with the diversified areas of Real Estate, Agro business, Floriculture, International Trading, Wellness, Hospitality, Healthcare and Education while creating meaningful living spaces, improving human well-being and empowerment of mankind through power of knowledge, health and happiness</p> 
		</div>
		<div class="row">
			<br/>
			<div class=" col-md-4 " >
			  <h2>Vision</h2> 
			  <p>Play a pioneering role in Realty Sector and create landmarks that are sustainable & add value to the environment, thus transforming the way we build, live and work.</p> 
			</div>
			<div class="  col-md-4 " >
			  <h2>Mission</h2> 
			  <p>Develop safe, eco-friendly and self sustainable living communities.</p> 
			</div>
			<div class="  col-md-4 " >
			  <h2>Quality Policy</h2> 
			  <p>Timely execution with 100 % compliance to agreed set of commitments.</p> 
			</div>
		</div>
	</div>
</div>	
 </template>
 <!-- End Page, project info-->
 <template name="construction_status">
	<div>
		
	</div>
 </template>
 <!-- End Content-->

 <!--Registration Template -->
