<template name="admin_section">

	<div >
		<div class="row">
			<div class="jumbotron container">			
			<div class="text-center">
				<div role="tabpanel" >
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a id="project-tab" data-target="#project" data-toggle="tab">Project Management</a></li>
						<li role="presentation"><a id="apartment-tab" data-target="#apartment" data-toggle="tab">Apartment Management</a></li>
						<li role="presentation"><a id="user-tab" data-target="#user" data-toggle="tab">User Management</a></li>
					</ul>
				
					<!-- Tab panes -->
					<div class="tab-content">					
						<div role="tabpanel" class="tab-pane active text-center" id="project">
							<div class="row">
								<div class="col-md-12">
									{{> projectForm}}
									{{> editProjectForm}}
								</div>
							</div>
							<div class="row ">
								<div class="col-md-12">
									<div class="table-responsive">
										{{>projectList}}
									</div>
								</div>
							</div>
							<div class="row ">
								<div class="col-md-12">
									{{>TprojectManagement}} 
								</div>
							</div>
														
						</div>
						<div role="tabpanel" class="tab-pane text-center" id="apartment">
							<div class="row">
								<div class="col-md-12">
								{{>apartmentManagementMain}}						
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
								{{>apartmentForm}}	
								{{>editApartmentForm}}
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
								{{>apartmentList}}						
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
								{{>apartmentManagement}}						
								</div>
							</div>	
						</div>
						<div role="tabpanel" class="tab-pane text-center" id="user">
							<div class="row">
								<div class="col-md-12">
								{{>userForm}}	
								{{>editUserForm}}
								</div>
								<div class="row">
								<div class="col-md-12">
								{{>userList}}						
								</div>
							</div>
							</div>	
							</div>

							
						</div>
					</div>
				</div>
					
			</div>
		</div>
	</div>
</template>
<template name="apartmentManagementMain">
	{{> projectListOptions}}	
</template>

<template name="projectListOptions">
	<select id="projectNameDropDown" class="projectNameDropDown">
		<option disabled="disabled" selected="selected">Please Select</option> 
		{{#each projects}}
			<option value="{{_id}}">{{projectName}}</option>
		{{/each}}
	</select>
</template>
<template name="projectForm">
	<button  class="btn btn-primary js-createProject">Create Project</button>
	<div class="modal fade" tabindex="-1" id="createProjectModal" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Add/Edit Projects</h4>
		  </div>
		  <div class="modal-body">
			 <span id="project_fail" class="response_error" style="display: none;">Project Save Failed!</span>
			 
			   {{> quickForm
				collection="Projects"
				template="bootstrap3-horizontal"
				label-class="col-sm-2"
				input-col-class="col-sm-10"
				id="addNewProject"
				type="method"
				meteormethod="createProject"
				resetOnSuccess=true}}
		  </div>
		  <div class="modal-footer">
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
</template>
<template name="editProjectForm">
	<div class="modal fade" tabindex="-1" id="editProjectModal" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Edit Project</h4>
		  </div>
		  <div class="modal-body">		 
			   {{> quickForm
				collection="Projects"
				template="bootstrap3-horizontal"
				label-class="col-sm-2"
				input-col-class="col-sm-10"
				id="editProjectForm"
				type="method-update"
				meteormethod="editProject"
				resetOnSuccess=true
				doc=editProjectDocument
				singleMethodArgument=true
				resetOnSuccess=true
				}}
		  </div>
		  <div class="modal-footer">
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->	
</template>
<template name="editProjectSection">
  <button type="button" class="btn btn-xs btn-warning js_editProject">Edit</button>
  <button type="button" class="btn btn-xs js_removeProject btn-danger">Delete</button>
  <div class="modal fade" tabindex="-1" id="confirmDeleteProjectDialog" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Confirm Delete</h4>
		  </div>
		  <div class="modal-body">
			 <h4> Are you sure you want to delete the Project? The changes cannot be undone!</h4>
			 <button type="button" class="btn btn-xs btn-warning js_cancelRemoveProject">Cancel</button>
			 <button type="button" class="btn btn-xs js_confirmRemoveProject btn-danger">Confirm Delete</button>
		  </div>
		  <div class="modal-footer">
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</template>
<template name="projectList">
	{{> tabular table=TabularTables.Projects class="table table-sm table-bordered table-condensed" id="projectList"}}
</template>

<template name="apartmentList">
	{{> tabular table=TabularTables.Apartments selector=projectIdSelector class="table table-sm table-bordered table-condensed" id="apartmentList"}}
</template>

<template name="userList">
	{{> tabular table=TabularTables.Users class="table table-sm table-bordered table-condensed" id="userList"}}
</template>

<template name="editApartmentSection">
  <button type="button" class="btn btn-xs btn-warning js_editApartment">Edit</button>
  <button type="button" class="btn btn-xs js_removeApartment btn-danger">Delete</button>
  <div class="modal fade" tabindex="-1" id="confirmDeleteApartmentDialog" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Confirm Delete!</h4>
		  </div>
		  <div class="modal-body">
			 <h4> Are you sure you want to delete the Apartment? The changes cannot be undone!</h4>
			 <button type="button" class="btn btn-xs btn-warning js_cancelRemoveApartment">Cancel</button>
			 <button type="button" class="btn btn-xs js_confirmRemoveApartment btn-danger">Confirm Delete</button>
		  </div>
		  <div class="modal-footer">
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</template>

<template name="apartmentForm">
	<button  class="btn btn-primary js-createApartment">Create Apartment</button>
	<div class="modal fade" tabindex="-1" id="createApartmentModal" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Add Apartment</h4>
		  </div>
		  <div class="modal-body">
			 <span id="apartment_fail" class="response_error" style="display: none;">Apartment Save Failed!</span>
			 
			   {{> quickForm
				collection="Apartments"
				template="bootstrap3-horizontal"
				label-class="col-sm-2"
				input-col-class="col-sm-10"
				id="addNewApartment"
				type="method"
				meteormethod="createApartment"
				resetOnSuccess=true}}
		  </div>
		  <div class="modal-footer">
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
</template>

<template name="editApartmentForm">
	<div class="modal fade" tabindex="-1" id="editApartmentModal" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Edit Apartment</h4>
		  </div>
		  <div class="modal-body">
			 <span id="apartment_edit_fail" class="response_error" style="display: none;">Apartment Edit Failed!</span>			 
			   {{> quickForm
				collection="Apartments"
				template="bootstrap3-horizontal"
				label-class="col-sm-2"
				input-col-class="col-sm-10"
				id="editApartmentForm"
				type="method-update"
				meteormethod="editApartment"
				resetOnSuccess=true
				doc=editApartmentDocument
				singleMethodArgument=true
				resetOnSuccess=true
				}}
		  </div>
		  <div class="modal-footer">
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->	
</template>

<template name="userForm">
	<button  class="btn btn-primary js-createUser">Create User</button>
	<div class="modal fade" tabindex="-1" id="createUserModal" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Add User</h4>
		  </div>
		  <div class="modal-body">
			 
			   {{> quickForm
				collection="Meteor.users"
				template="bootstrap3-horizontal"
				label-class="col-sm-2"
				input-col-class="col-sm-10"
				id="addNewUser"
				type="method"
				meteormethod="addUser"
				resetOnSuccess=true}}
		  </div>
		  <div class="modal-footer">
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->	
</template>

<template name="editUserForm">
	<div class="modal fade" tabindex="-1" id="editUserModal" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Edit User</h4>
		  </div>
		  <div class="modal-body">		 
			   {{> quickForm
				collection="Meteor.users"
				template="bootstrap3-horizontal"
				label-class="col-sm-2"
				input-col-class="col-sm-10"
				id="editUserForm"
				type="method-update"
				meteormethod="editUser"
				resetOnSuccess=true
				doc=editUserDocument
				singleMethodArgument=true
				resetOnSuccess=true
				}}
		  </div>
		  <div class="modal-footer">
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->	
</template>

<template name="editUserSection">
  <button type="button" class="btn btn-xs btn-warning js_editUser">Edit</button>
  <button type="button" class="btn btn-xs js_removeUser btn-danger">Delete</button>
  <div class="modal fade" tabindex="-1" id="confirmDeleteUserDialog" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Confirm Delete</h4>
		  </div>
		  <div class="modal-body">
			 <h4> Are you sure you want to delete the User? He may be assigned to an apartment!</h4>
			 <button type="button" class="btn btn-xs btn-warning js_cancelRemoveUser">Cancel</button>
			 <button type="button" class="btn btn-xs js_confirmRemoveUser btn-danger">Confirm Delete</button>
		  </div>
		  <div class="modal-footer">
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</template>