<template name="apartmentManagement">
<div class="row">
	<div class="jumbotron container">	
		<div role="tabpanel" >
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a id="update-tab" data-target="#updateManagement" data-toggle="tab">Updates</a></li>
								
								<li role="presentation"><a id="documents-tab" data-target="#documentManagement" data-toggle="tab">Documents</a></li>
								<li role="presentation"><a id="payment-tab" data-target="#paymentManagement" data-toggle="tab">Payments</a></li>
								<li role="presentation"><a id="service-tab" data-target="#serviceManagement" data-toggle="tab">Service Requests</a></li>
								<li role="presentation"><a id="userManagement-tab" data-target="#userManagement" data-toggle="tab">User Management</a></li>
							</ul>
						
							<!-- Tab panes -->
							<div class="tab-content">						
								<div role="tabpanel" class="tab-pane active text-center" id="updateManagement">
									<div class="row">
										<div class="col-md-12">										
											{{>TapartmentUpdateForm}}
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											{{> TapartmentUpdates}}
											{{>TeditApartmentUpdateForm}}
										</div>
									</div>			
									
								</div>
								<div role="tabpanel" class="tab-pane text-center" id="userManagement">
									<div class="row">
										<div class="col-md-12">												
											{{>userAssignment}}
										</div>
									</div>	
									<div class="row">
										<div class="col-md-12">
											{{>assignedUsers}}
										</div>
									</div>									
								</div>
								<div role="tabpanel" class="tab-pane text-center" id="documentManagement">
									<div class="row">
										<div class="col-md-12">
										 
											{{> TCreateApartmentDocument}}
											 {{> TApartmentDocumentFiles}}
											
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												{{> TapartmentDocuments}}																			
											</div>
											{{> TeditApartmentDocumentForm}}
										</div>
									</div>							
								</div>						
								<div role="tabpanel" class="tab-pane  text-center" id="serviceManagement">
									<div class="row">
										<div class="col-md-12">										 
											{{> TapartmentServiceRequestForm}}
											<!-- {{> TApartmentPaymentFiles}} -->
											
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												{{>TapartmentServiceRequests}}																			
											</div>
											{{> TeditApartmentServiceRequestForm}}
										</div>
									</div>															
								</div>
								<div role="tabpanel" class="tab-pane  text-center" id="paymentManagement">
									<div class="row">
										<div class="col-md-12">										 
											{{> TapartmentPaymentForm}}
											<!-- {{> TApartmentPaymentFiles}} -->
											
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive">
												{{>TapartmentPayments}}																			
											</div>
											{{> TeditApartmentPaymentForm}}
										</div>
									</div>
								</div>
					</div>
		</div>
	</div>
</div>
</template>
<template name="userAssignment">
<button  class="btn btn-primary js-assignOwners">Assign Owners</button>
  <div class="modal fade" tabindex="-1" id="assignUserModal" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Assign User</h4>
		  </div>
		  <div class="modal-body">
			 {{>assignUsers}}
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-xs btn-warning js_closeAssignUserModal">Close</button>
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</template>
<template name="assignUsers">
				{{> tabular table=TabularTables.UserList class="table table-sm table-bordered table-condensed" id="assignUsersList"}}
</template>
<template name="assignedUsers">
				{{> tabular table=TabularTables.AssignedUserList selector=userIdSelector class="table table-sm table-bordered table-condensed" id="assignedUserList"}}
				{{>removeAssignmentModal}}
</template>
<template name="removeUserAssignSection">
  <button type="button" class="btn btn-xs btn-danger js_removeUserAssignment">Remove</button>
</template>
<template name="assignUser">
  <button type="button" class="btn btn-xs btn-danger js_assignUserToApartment">Assign</button>
</template>
<template name="removeAssignmentModal">
  <div class="modal fade" tabindex="-1" id="confirmRemoveUserAssignmentModal" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Confirm Delete?</h4>
		  </div>
		  <div class="modal-body">
			 <h4> Are you sure you want to remove the Assignment? He will lose all the updates!</h4>
			 <button type="button" class="btn btn-xs btn-warning js_cancelRemoveUserAssignment">Cancel</button>
			 <button type="button" class="btn btn-xs js_confirmRemoveUserAssignment btn-danger">Confirm Delete</button>
		  </div>
		  <div class="modal-footer">
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</template>

<template name="TeditApartmentDocumentsSection">
  <button type="button" class="btn btn-xs btn-success js_manageApartmentDocumentFiles">Files</button>
  <button type="button" class="btn btn-xs btn-warning js_editApartmentDocument">Edit</button>
  <button type="button" class="btn btn-xs js_removeApartmentDocument btn-danger">Delete</button>  
</template>
<template name="TapartmentDocuments">
	{{> tabular table=TabularTables.ApartmentDocuments selector=apartmentIdSelector class="table table-sm table-bordered table-condensed" id="apartmentDocumentsTable"}}
</template>

<template name="TCreateApartmentDocument">
	<button  class="btn btn-primary js-createApartmentDocument">Add Document</button>
	<div class="modal fade" tabindex="-1" id="createApartmentDocumentModal" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Add Document</h4>
		  </div>
		  <div class="modal-body">>
			 <div class="row">
				<div class="col-md-12">
					{{> quickForm
					collection="ApartmentDocuments"
					template="bootstrap3-horizontal"
					label-class="col-sm-2"
					input-col-class="col-sm-10"
					id="addNewApartmentDocumentForm"
					type="method"
					meteormethod="createApartmentDocument"
					doc=defaultApartmentDocument
					resetOnSuccess=true}}
				</div>
			 </div>
			   
		  </div>
		  <div class="modal-footer">
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->	
</template>
<template name="TeditApartmentDocumentForm">
	<div class="modal fade" tabindex="-1" id="editApartmentDocumentModal" role="dialog">
	 <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Edit Document</h4>
		  </div>
		  <div class="modal-body">		 
			   {{> quickForm
				collection="ApartmentDocuments"
				template="bootstrap3-horizontal"
				label-class="col-sm-2"
				input-col-class="col-sm-10"
				id="editApartmentDocumentForm"
				type="method-update"
				meteormethod="editApartmentDocument"
				resetOnSuccess=true
				doc=editApartmentUpdateDocument
				singleMethodArgument=true
				resetOnSuccess=true
				}}
		  </div>
		  <div class="modal-footer">
		  </div>
		</div>
	  </div> 
	</div>
</template>
<template name="TapartmentUpdates">
	{{> tabular table=TabularTables.ApartmentUpdates selector=apartmentIdSelector class="table table-sm table-bordered table-condensed" id="apartmentUpdatesTable"}}
	{{>TapartmentUpdateFiles}}
</template>

<template name="TeditApartmentUpdatesSection">
  <button type="button" class="btn btn-xs btn-success js_manageApartmentUpdateFiles">Files</button>
  <button type="button" class="btn btn-xs btn-warning js_editApartmentUpdate">Edit</button>
  <button type="button" class="btn btn-xs js_removeApartmentUpdate btn-danger">Delete</button>
</template>
<template name="TapartmentUpdateForm">
	<button  class="btn btn-primary js-createApartmentUpdate">Add Apartment Update</button>
	<div class="modal fade" tabindex="-1" id="createApartmentUpdateModal" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Add Update</h4>
		  </div>
		  <div class="modal-body">
			 <div class="row">
				<div class="col-md-12">
				<!--<h4> Apartment Name: {{projectName}}</h4>-->
				</div>
			 </div>
			 <div class="row">
				<div class="col-md-12">
					{{> quickForm
					collection="ApartmentUpdates"
					template="bootstrap3-horizontal"
					label-class="col-sm-2"
					input-col-class="col-sm-10"
					id="addNewApartmentUpdateForm"
					type="method"
					meteormethod="createApartmentUpdate"
					doc=defaultApartmentUpdate
					resetOnSuccess=true}}
				</div>
			 </div>
			   
		  </div>
		  <div class="modal-footer">
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->	
</template>
<template name="TeditApartmentUpdateForm">
	<div class="modal fade" tabindex="-1" id="editApartmentUpdateModal" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Edit Update</h4>
		  </div>
		  <div class="modal-body">		 
			   {{> quickForm
				collection="ApartmentUpdates"
				template="bootstrap3-horizontal"
				label-class="col-sm-2"
				input-col-class="col-sm-10"
				id="editApartmentUpdateForm"
				type="method-update"
				meteormethod="editApartmentUpdate"
				resetOnSuccess=true
				doc=editApartmentUpdate
				singleMethodArgument=true
				resetOnSuccess=true
				}}
		  </div>
		  <div class="modal-footer">
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->	
</template>

<template name="TapartmentPayments">

	{{> tabular table=TabularTables.ApartmentPayment selector=apartmentIdSelector class="table table-sm table-bordered table-condensed" id="apartmentPaymentTable"}}
</template>
<template name="TeditApartmentPaymentSection">
  <button type="button" class="btn btn-xs btn-success js_manageApartmentPaymentFiles">Files</button>
  <button type="button" class="btn btn-xs btn-warning js_editApartmentPayment">Edit</button>
  <button type="button" class="btn btn-xs js_removeApartmentPayment btn-danger">Delete</button>  
</template>
<template name="TapartmentPaymentForm">
	<button  class="btn btn-primary js-createApartmentPayment">Add Apartment Payment</button>
	<div class="modal fade" tabindex="-1" id="createApartmentPaymentModal" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Add Payment</h4>
		  </div>
		  <div class="modal-body">
			 <div class="row">
				<div class="col-md-12">
				<!--<h4> Apartment Name: {{projectName}}</h4>-->
				</div>
			 </div>
			 <div class="row">
				<div class="col-md-12">
					{{> quickForm
					collection="ApartmentPayment"
					template="bootstrap3-horizontal"
					label-class="col-sm-2"
					input-col-class="col-sm-10"
					id="addNewApartmentPaymentForm"
					type="method"
					meteormethod="createApartmentPayment"
					doc=defaultApartmentPayment
					resetOnSuccess=true}}
				</div>
			 </div>
			   
		  </div>
		  <div class="modal-footer">
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->	
</template>
<template name="TeditApartmentPaymentForm">
	<div class="modal fade" tabindex="-1" id="editApartmentPaymentModal" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Edit Payment</h4>
		  </div>
		  <div class="modal-body">		 
			   {{> quickForm
				collection="ApartmentPayment"
				template="bootstrap3-horizontal"
				label-class="col-sm-2"
				input-col-class="col-sm-10"
				id="editApartmentPaymentForm"
				type="method-update"
				meteormethod="editApartmentPayment"
				resetOnSuccess=true
				doc=editApartmentPayment
				singleMethodArgument=true
				resetOnSuccess=true
				}}
		  </div>
		  <div class="modal-footer">
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->	
</template>
<!-- Apartment Service Requests -->
<template name="TapartmentServiceRequests">

	{{> tabular table=TabularTables.ApartmentServiceRequests selector=apartmentIdSelector class="table table-sm table-bordered table-condensed" id="apartmentServiceRequestsTable"}}
</template>
<template name="TeditApartmentServiceRequestSection">
  <button type="button" class="btn btn-xs btn-warning js_editApartmentServiceRequest">Edit</button>
  <button type="button" class="btn btn-xs js_removeApartmentServiceRequest btn-danger">Delete</button>  
</template>
<template name="TapartmentServiceRequestForm">
	<button  class="btn btn-primary js-createApartmentServiceRequest">Add Service Request</button>
	<div class="modal fade" tabindex="-1" id="createApartmentServiceRequestModal" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Add Service Request</h4>
		  </div>
		  <div class="modal-body">
			 <div class="row">
				<div class="col-md-12">
				<!--<h4> Apartment Name: {{projectName}}</h4>-->
				</div>
			 </div>
			 <div class="row">
				<div class="col-md-12">
					{{> quickForm
					collection="ApartmentServiceRequests"
					template="bootstrap3-horizontal"
					label-class="col-sm-2"
					input-col-class="col-sm-10"
					id="addNewApartmentServiceRequestForm"
					type="method"
					meteormethod="createApartmentServiceRequest"
					doc=defaultApartmentServiceRequest
					resetOnSuccess=true}}
				</div>
			 </div>
			   
		  </div>
		  <div class="modal-footer">
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->	
</template>
<template name="TeditApartmentServiceRequestForm">
	<div class="modal fade" tabindex="-1" id="editApartmentServiceRequestModal" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Edit Request</h4>
		  </div>
		  <div class="modal-body">		 
			   {{> quickForm
				collection="ApartmentServiceRequests"
				template="bootstrap3-horizontal"
				label-class="col-sm-2"
				input-col-class="col-sm-10"
				id="editApartmentServiceRequestForm"
				type="method-update"
				meteormethod="editApartmentServiceRequest"
				resetOnSuccess=true
				doc=editApartmentServiceRequest
				singleMethodArgument=true
				resetOnSuccess=true
				}}
		  </div>
		  <div class="modal-footer">
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->	
</template>
<!-- End Service Requests-->