<!-- Start Project Updates -->
<template name="TprojectUpdateFiles">
<div class="modal fade" tabindex="-1" id="projectUpdateFilesModal" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Manage Files</h4>
		  </div>
		  <div class="modal-body">
			<div id="projectUpdateFilesError">
				<p style="color:red">Error Uploading File, check selections or allowable file formats</p>
			</div>
			<div class="row">
				<input type="file" accept="image/*;capture=camera" id="projectUpdateImage">
				<button class="btn btn-primary js_uploadImage">Upload</button>
			</div>				
			<div class="row">
			{{>TProjectUpdateFileGallery}}
			</div>
		  </div>		  
		  <div class="modal-footer">
				<button type="button" class="btn btn-xs btn-warning js_closeProjectUpdateFilesModal">Close</button>
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div>	
</template>
<template name="TProjectUpdateFileGallery">
<div class="container">
  <div class="row">
    <div class="row">
	{{#each projectUpdateFiles}}
		{{#if isImage url}}
		  <div class="col-lg-3 col-sm-4 col-6">
		  <a href="#" title="Project Updates"><img src={{url}} class="js_imageThumbnail thumbnail img-responsive"/></a>
		  <button class="btn btn-xs btn-danger js_projectUpdateDeleteFile"> Delete </button>
		  </div>
		{{else}}
		  <div class="col-lg-3 col-sm-4 col-6">
		  <a href="#" title="Project Updates"><img src="no_preview.png" class="js_imageThumbnail thumbnail img-responsive"/></a>
		  <button class="btn btn-xs btn-danger js_projectUpdateDeleteFile"> Delete </button>
		  </div>
		{{/if}}
		
	{{/each}}
    </div>
  </div>
</div>
<div id="projectUpdateFileGalleryModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3 class="modal-title">File</h3>
	</div>
	<div class="modal-body">
		
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
   </div>
  </div>
</div>
<div id="projectFileLoadModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3 class="modal-title">File</h3>
	</div>
	<div class="modal-body">
		<iframe src="" id="fileLoadIFrame" style="position: relative; height: 100%; width: 100%;">
		</iframe>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
   </div>
  </div>
</div>
</template>
<!-- End Project Updates-->
<!-- Start Apartment Updates-->
<template name="TapartmentUpdateFiles">
<div class="modal fade" tabindex="-1" id="apartmentUpdatesFilesModal" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Manage Files</h4>
		  </div>
		  <div class="modal-body">
			<div id="projectUpdateFilesError">
				<p style="color:red">Error Uploading File, check selections or allowable file formats</p>
			</div>
			<div class="row">
				<input type="file" accept="image/*;capture=camera" id="apartmentUpdateFile">
				<button class="btn btn-primary js_uploadImage">Upload</button>
			</div>				
			<div class="row">
			{{>TApartmentUpdateFileGallery}}
			</div>
		  </div>		  
		  <div class="modal-footer">
				<button type="button" class="btn btn-xs btn-warning js_closeProjectUpdateFilesModal">Close</button>
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div>	
</template>
<template name="TApartmentUpdateFileGallery">
<div class="container">
  <div class="row">
    <div class="row">
	{{#each apartmentUpdateFiles}}
		{{#if isImage url}}
		  <div class="col-lg-3 col-sm-4 col-6">
		  <a href="#" title="Apartment Updates"><img src={{url}} class="js_imageThumbnail thumbnail img-responsive"/></a>
		  <button class="btn btn-xs btn-danger js_apartmentUpdateDeleteFile"> Delete </button>
		  </div>
		{{else}}
		  <div class="col-lg-3 col-sm-4 col-6">
		  <a href="#" title="Project Updates"><img src="no_preview.png" class="js_imageThumbnail thumbnail img-responsive"/></a>
		  <button class="btn btn-xs btn-danger js_apartmentUpdateDeleteFile"> Delete </button>
		  </div>
		{{/if}}
		
	{{/each}}
    </div>
  </div>
</div>
<div id="apartmentFileLoadModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3 class="modal-title">File</h3>
	</div>
	<div class="modal-body">
		<iframe src="" id="apartment_fileLoadIFrame" style="position: relative; height: 100%; width: 100%;">
		</iframe>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
   </div>
  </div>
</div>
</template>
<!-- End Apartment Updates-->
<template name="TApartmentDocumentFiles">
<div class="modal fade" tabindex="-1" id="apartmentDocumentFilesModal" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Manage Files</h4>
		  </div>
		  <div class="modal-body">
			<div id="apartmentDocumentUploadFilesError">
				<p style="color:red;display:none">Error Uploading File, check selections or allowable file formats</p>
			</div>
			<div class="row">
				<input type="file" accept="image/*;capture=camera" id="uploadApartmentDocument">
				<button class="btn btn-primary js_uploadApartmentDocument">Upload</button>
			</div>				
			<div class="row">
			{{>TApartmentDocumentsFileGallery}}
			</div>
		  </div>		  
		  <div class="modal-footer">
				<button type="button" class="btn btn-xs btn-warning js_closeProjectUpdateFilesModal">Close</button>
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div>	
</template>
<template name="TApartmentDocumentsFileGallery">
<div class="container">
  <div class="row">
    <div class="row">
	{{#each apartmentDocumentFiles}}
		{{#if isImage url}}
		  <div class="col-lg-3 col-sm-4 col-6">
		  <a href="#" title="Project Updates"><img src={{url}} class="js_apartmentDocumentThumbnail thumbnail img-responsive"/></a>
		  <button class="btn btn-xs btn-danger js_apartmentDocumentFileDelete"> Delete </button>
		  </div>
		{{else}}
		  <div class="col-lg-3 col-sm-4 col-6">
		  <a href="#" title="Project Updates"><img src="no_preview.png" class="js_apartmentDocumentThumbnail thumbnail img-responsive"/></a>
		  <button class="btn btn-xs btn-danger js_apartmentDocumentFileDelete"> Delete </button>
		  </div>
		{{/if}}
		
	{{/each}}
    </div>
  </div>
</div>
<div id="apartmentDocumentFileGalleryModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3 class="modal-title">File</h3>
	</div>
	<div class="modal-body">
		<iframe src="" id="apartmentDocumentLoadIFrame" style="position: relative; height: 100%; width: 100%;">
		</iframe>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
   </div>
  </div>
</div>
</template>

<!-- Client  Project Updates -->

<template name ="TClient_projectUpdateFileGallery">
	<div class="container">
  <div class="row">
    <div class="row">
	{{#each projectUpdateFiles}}
		{{#if isImage url}}
		  <div class="col-lg-3 col-sm-4 col-6">
		  <a href="#" title="Project Updates"><img src={{url}} class="js_projectFileThumbnail thumbnail img-responsive"/></a>
		  </div>
		{{else}}
		  <div class="col-lg-3 col-sm-4 col-6">
		  <a href="#" title="Project Updates"><img src="no_preview.png" class="js_projectFileThumbnail thumbnail img-responsive"/></a>
		  </div>
		{{/if}}
		
	{{/each}}
    </div>
  </div>
</div>
<div id="TClient_projectUpdateFilesModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3 class="modal-title">File</h3>
	</div>
	<div class="modal-body">
		<iframe src="" id="Client_projectUpdateFilesLoadIFrame" style="position: relative; height: 100%; width: 100%;">
		</iframe>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
   </div>
  </div>
</div>
</template>
<!-- End Client Apartment Documents -->
<!-- Client Apartment Payments -->
<template name ="TClient_apartmentPaymentFileGallery">
	<div class="container">
  <div class="row">
    <div class="row">
	{{#each apartmentPaymentFiles}}
		{{#if isImage url}}
		  <div class="col-lg-3 col-sm-4 col-6">
		  <a href="#" title="Project Updates"><img src={{url}} class="js_apartmentPaymentThumbnail thumbnail img-responsive"/></a>
		  </div>
		{{else}}
		  <div class="col-lg-3 col-sm-4 col-6">
		  <a href="#" title="Project Updates"><img src="no_preview.png" class="js_apartmentPaymentThumbnail thumbnail img-responsive"/></a>
		  </div>
		{{/if}}
		
	{{/each}}
    </div>
  </div>
</div>
<div id="Client_apartmentPaymentFilesModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3 class="modal-title">File</h3>
	</div>
	<div class="modal-body">
		<iframe src="" id="Client_apartmentPaymentFilesLoadIFrame" style="position: relative; height: 100%; width: 100%;">
		</iframe>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
   </div>
  </div>
</div>
</template>
<!-- End Client Apartment Payments -->

<!-- Client Apartment Updates-->
<template name ="TClient_apartmentUpdatesFileGallery">
	<div class="container">
  <div class="row">
    <div class="row">
	{{#each apartmentUpdateFiles}}
		{{#if isImage url}}
		  <div class="col-lg-3 col-sm-4 col-6">
		  <a href="#" title="Project Updates"><img src={{url}} class="js_apartmentUpdatesThumbnail thumbnail img-responsive"/></a>
		  </div>
		{{else}}
		  <div class="col-lg-3 col-sm-4 col-6">
		  <a href="#" title="Project Updates"><img src="no_preview.png" class="js_apartmentUpdatesThumbnail thumbnail img-responsive"/></a>
		  </div>
		{{/if}}
		
	{{/each}}
    </div>
  </div>
</div>
<div id="Client_apartmentUpdatesFilesModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3 class="modal-title">File</h3>
	</div>
	<div class="modal-body">
		<iframe src="" id="Client_apartmentUpdateFilesLoadIFrame" style="position: relative; height: 100%; width: 100%;">
		</iframe>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
   </div>
  </div>
</div>
</template>
<!-- End Client Apartment Updates-->
