

<template name="TprojectUpdates">
	{{> tabular table=TabularTables.ProjectUpdates selector=projectIdSelector class="table table-sm table-bordered table-condensed" id="projectUpdatesTable"}}
</template>

<template name="TeditProjectUpdatesSection">
  <button type="button" class="btn btn-xs btn-success js_manageProjectUpdateFiles">Files</button>
  <button type="button" class="btn btn-xs btn-warning js_editProjectUpdate">Edit</button>
  <button type="button" class="btn btn-xs js_removeProjectUpdate btn-danger">Delete</button>
  <div class="modal fade" tabindex="-1" id="confirmDeleteProjectDialog" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Confirm Delete</h4>
		  </div>
		  <div class="modal-body">
			 <h4> Are you sure you want to delete the Project Update? You will loose all the files!</h4>
			 <button type="button" class="btn btn-xs btn-warning js_cancelRemoveProjectUpdate">Cancel</button>
			 <button type="button" class="btn btn-xs js_confirmRemoveProjectUpdate btn-danger">Confirm Delete</button>
		  </div>
		  <div class="modal-footer">
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div>
</template>
<template name="TprojectUpdateForm">
	<button  class="btn btn-primary js-createProjectUpdate">Add Project Update</button>
	<div class="modal fade" tabindex="-1" id="createProjectUpdateModal" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Add Update</h4>
		  </div>
		  <div class="modal-body">
			 <div class="row">
				<div class="col-md-12">
				<h4> Project Name: {{projectName}}</h4>
				</div>
			 </div>
			 <div class="row">
				<div class="col-md-12">
					{{> quickForm
					collection="ProjectUpdates"
					template="bootstrap3-horizontal"
					label-class="col-sm-2"
					input-col-class="col-sm-10"
					id="addNewProjectUpdate"
					type="method"
					meteormethod="createProjectUpdate"
					doc=defaultValues
					resetOnSuccess=true}}
				</div>
			 </div>
			   
		  </div>
		  <div class="modal-footer">
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->	
</template>
<template name="TeditProjectUpdateForm">
	<div class="modal fade" tabindex="-1" id="editProjectUpdateModal" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Edit Update</h4>
		  </div>
		  <div class="modal-body">		 
			   {{> quickForm
				collection="ProjectUpdates"
				template="bootstrap3-horizontal"
				label-class="col-sm-2"
				input-col-class="col-sm-10"
				id="editProjectUpdateForm"
				type="method-update"
				meteormethod="editProjectUpdate"
				resetOnSuccess=true
				doc=editProjectUpdateDocument
				singleMethodArgument=true
				resetOnSuccess=true
				}}
		  </div>
		  <div class="modal-footer">
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->	
</template>
<template name="TprojectManagement">
<div class="row">
			<div class="jumbotron container">			
			<div class="text-center">
				<div role="tabpanel" >
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a id="project-tab" data-target="#pmProject" data-toggle="tab">Project Update</a></li>
						<li role="presentation"><a id="pmTBD1-tab" data-target="#pmTBD1" data-toggle="tab">TBD</a></li>
						<li role="presentation"><a id="pmTBD2-tab" data-target="#pmTBD2" data-toggle="tab">TBD</a></li>
					</ul>
				
					<!-- Tab panes -->
					<div class="tab-content">					
						<div role="tabpanel" class="tab-pane active text-center" id="pmProject">
							<div class="row">
								<div class="col-md-12">
									{{> TprojectUpdateForm}}
									{{> TprojectUpdateFiles}}
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
								<div class="table-responsive">
									{{> TprojectUpdates}}
								</div>
									{{> TeditProjectUpdateForm}}
								</div>
							</div>							
						</div>
						<div role="tabpanel" class="tab-pane text-center" id="pmTBD1">
							<div class="row">
								<div class="col-md-12">						
								</div>
							</div>
							
						</div>
						<div role="tabpanel" class="tab-pane text-center" id="pmTBD2">							
							<div class="row">
								<div class="col-md-12">
								</div>
							</div>
							</div>

							
						</div>
					</div>
				</div>
					
			</div>
		</div>
</template>