<template name="myProject">
	<div class="jumbotron container">
		{{>TClient_projectUpdates}}
	</div>
</template>
<template name = "myApartment">
	<div class="jumbotron container">
		{{>TClient_apartmentUpdates}}
	</div>
</template>
<template name="Client_payment">
	{{>TClient_apartmentPayments}}
</template>

<template name="TClient_projectUpdates">
	{{> tabular table=TabularTables.Client_ProjectUpdates  selector=projectIdSelector class="table table-sm table-bordered table-condensed" id="client_projectUpdatesTable"}}
</template>

<template name="TClient_viewProjectUpdatesSection">
  <button type="button" class="btn btn-xs btn-success js_viewProjectUpdateFiles">Files</button>

<div class="modal fade" tabindex="-1" id="Client_projectUpdateFilesModal" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Manage Files</h4>
		  </div>
		  <div class="modal-body">			
			<div class="row">
			{{>TClient_projectUpdateFileGallery}}
			</div>
		  </div>		  
		  <div class="modal-footer">
				<button type="button" class="btn btn-xs btn-warning js_closeProjectUpdateFilesModal">Close</button>
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div>	
</template>


<template name = "TClient_apartmentUpdates">
	{{> tabular table=TabularTables.Client_ApartmentUpdates  selector=apartmentIdSelector class="table table-sm table-bordered table-condensed" id="client_apartmentUpdatesTable"}}
</template>
<template name="TClient_viewApartmentUpdatesSection">
  <button type="button" class="btn btn-xs btn-success js_viewApartmentUpdateFiles">Files</button>

<div class="modal fade" tabindex="-1" id="Client_apartmentUpdatesFilesModal" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Manage Files</h4>
		  </div>
		  <div class="modal-body">			
			<div class="row">
			{{>TClient_apartmentUpdatesFileGallery}}
			</div>
		  </div>		  
		  <div class="modal-footer">
				<button type="button" class="btn btn-xs btn-warning js_closeApartmentUpdatesFilesModal">Close</button>
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div>	
</template>

<template name="TClient_apartmentPayments">
	{{> tabular table=TabularTables.Client_ApartmentPayment selector=apartmentIdSelector class="table table-sm table-bordered table-condensed" id="client_apartmentPaymentsTable"}}
</template>

<template name="TClient_viewApartmentPaymentSection">
  <button type="button" class="btn btn-xs btn-success js_viewApartmentPaymentFiles">Files</button>

<div class="modal fade" tabindex="-1" id="Client_apartmentPaymentFilesModal" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Manage Files</h4>
		  </div>
		  <div class="modal-body">			
			<div class="row">
			{{>TClient_apartmentDocumentFileGallery}}
			</div>
		  </div>		  
		  <div class="modal-footer">
				<button type="button" class="btn btn-xs btn-warning js_closeApartmentPaymentFilesModal">Close</button>
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div>	
</template>